<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.casasw.iddog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_24"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".data.DogProvider"
            android:authorities="com.casasw.iddog.app"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DogActivity"
            android:label="@string/app_name"
            android:theme="@style/DogTheme"
            android:parentActivityName=".LoginActivity"/>

        <uses-library
            android:name="android.test.runner"
            android:required="false" />

        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:parentActivityName=".DogActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.casasw.iddog.DogActivity" />
        </activity>
    </application>

</manifest>